.DS_Store
.idea/dphpc-project.iml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/
Dependencies/
Output/
!Output/output_readme.txt
Input/
!Input/input_readme.txt
!Input/bird.jpg

Visualisation/__pycache__/
Visualisation/*.pyc
