Output/
!Output/output_readme.txt
!Output/job_output/dummy.txt
Input/
!Input/input_readme.txt
!Input/sample_image.png

*.pyc
*.o
build/

src/Evaluation/result_*
src/Evaluation/data_*
test/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
dphpc_project
cmake-build-debug/
cmake-build-release/
build/

.DS_Store
*.dSYM
.idea/dphpc-project.iml
.idea/modules.xml
.idea/workspace.xml
.idea/dphpc-project.iml___jb_tmp___
