.DS_Store
.idea/dphpc-project.iml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/
Dependencies/
Output/out_*
Visualisation/__pycache__/
*.pyc
*.o
build/
src/Evaluation/result_*
src/Evaluation/data_*


quickhull/CMakeFiles/
quickhull/Dependencies/
quickhull/CMakeCache.txt
quickhull/cmake_install.cmake
quickhull/Makefile
